* {
  margin: 0;
  padding: 0;
}

.grid {
  font-family: Verdana;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas:
  "title title"
  "focus tasks"
  "content content";
  grid-row-gap: 10px;
}
<!--E0E4CC-->
.grid div:nth-child(even) {
  background-color: E0E4CC;
}

.grid div:nth-child(odd) {
  background-color: E0E4CC;
}

.title {
  grid-area: title;
  border-bottom: solid;
}

.titleLeft {
  grid-area: titleLeft;
  border-bottom: solid;
  padding: 10px 10px;
}

.titleRight {
  grid-area: titleRight;
  border-bottom: solid;
}

.focus {
  padding-left: 10px;
  grid-area: focus;
  border: solid;
}

.tasks {
  padding-left: 10px;
  grid-area: tasks;
  border: solid;
}

.content {
  grid-area: content;
  border: solid;
}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  height: 50px;
  width: 150px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  border-top: solid;
  border-width: thin;
  background-color: white;
  text-align: center;
}

@media screen and (min-width: 736px)
{
  .grid {
    display: grid;
    grid-template-columns: 1fr 550px 550px 1fr;
    grid-template-rows: 15% 25% 350px 25%;
    grid-template-areas:
    "titleLeft title title titleRight"
    ". focus tasks ."
    ". content content .";
    grid-row-gap: 20px;
  }

}
